.div_tit {
  background-image: url(../imgs/fondoheader1920x400.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  padding-left: 0% !important; }
  .div_tit .logoatico {
    width: 17vh;
    height: 17vh; }

.bg_nav {
  background-color: #3a3a57; }
  .bg_nav ul {
    width: 100%; }

h1 {
  height: 114px;
  width: 100%;
  margin-bottom: 0% !important;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px !important;
  font-style: oblique;
  font-family: 'Rubik', sans-serif;
  color: #a0aeba; }

* {
  margin: 0px;
  padding: 0px; }

/*index*/
.nav-link {
  color: white !important; }

.gridindex {
  display: grid;
  grid-template-rows: 27vh 143vh 28vh;
  background-image: radial-gradient(circle, #4c4f53, #474c55, #4c4c60, #3a3a52, #3a3a57); }
  .gridindex .gridmain {
    display: grid;
    grid-template-areas: "titulo" "streamers" "clips" "nosotros";
    grid-template-rows: 14vh 53vh 82vh 16vh !important; }
    .gridindex .gridmain .bienveindex {
      grid-area: titulo;
      margin-top: 20px;
      font-size: 50px;
      margin-bottom: 30px;
      text-align: center;
      font-family: 'Rubik', sans-serif; }
    .gridindex .gridmain .streamers_index {
      grid-area: streamers;
      display: flex;
      flex-direction: column;
      border: solid 2px #181515;
      margin-bottom: 3%; }
      .gridindex .gridmain .streamers_index .icons {
        width: 10vh; }
      .gridindex .gridmain .streamers_index .logostreamers {
        width: 19vh !important;
        height: 10vh !important; }
      .gridindex .gridmain .streamers_index .titindex {
        margin-left: 5px;
        margin-top: 20px;
        margin-bottom: 10px;
        font-family: 'Rubik', sans-serif; }
      .gridindex .gridmain .streamers_index .imgstrimers {
        width: 18vh;
        height: 18vh;
        border: solid black;
        transition: width 2s , height 2s; }
        .gridindex .gridmain .streamers_index .imgstrimers:hover {
          width: 23vh;
          height: 23vh; }
      .gridindex .gridmain .streamers_index .parrafostreamers {
        margin-top: 13px; }
    .gridindex .gridmain .clips {
      grid-area: clips;
      border: solid 2px #181515;
      margin-top: 1%;
      padding-bottom: 1%;
      margin-bottom: 2%; }
      .gridindex .gridmain .clips .icons {
        width: 10vh; }
      .gridindex .gridmain .clips .parrafoindex {
        margin-top: 2%; }
      .gridindex .gridmain .clips .clipindex {
        height: 50vh !important; }
    .gridindex .gridmain .nos {
      grid-area: nosotros;
      border: solid 2px #181515; }
      .gridindex .gridmain .nos .nosindex {
        margin-top: 3%; }
    .gridindex .gridmain .bg_bot {
      background-color: #39697e; }

/*index*/
/*streamers*/
.gridmainstreamers {
  display: grid;
  grid-template-rows: 15vh 27vh 27vh 27vh 27vh;
  background-image: radial-gradient(circle, #2c384c, #2c344f, #2f3050, #352a50, #3c234d); }
  .gridmainstreamers .tit_streamers {
    margin-top: 20px;
    text-align: center;
    font-size: 45px; }
  .gridmainstreamers .secs_streamers {
    display: flex;
    border: solid 2px #010000;
    background-color: #4c4f53; }
    .gridmainstreamers .secs_streamers .p_streamers {
      font-size: 25px; }
      .gridmainstreamers .secs_streamers .p_streamers .loguitos_strim {
        margin-top: 1%;
        width: 11vh;
        height: 11vh;
        transition: width 2s , height 2s; }
        .gridmainstreamers .secs_streamers .p_streamers .loguitos_strim:hover {
          height: 15vh; }
    .gridmainstreamers .secs_streamers .texto {
      font-size: 19px;
      margin-top: 5px;
      text-align: center; }

/*streamers*/
p, .celestis .formu label {
  font-size: 18px;
  margin-left: 5px;
  font-family: 'Rubik', sans-serif;
  color: white; }

/*clips*/
.bgclips {
  background-image: radial-gradient(circle, #2c384c, #2c354e, #2f3050, #352b4f, #3c254d); }
  .bgclips .tit_clips {
    margin-top: 20px;
    font-size: 50px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Rubik', sans-serif; }
  .bgclips .sec_clips {
    border: solid 1px rebeccapurple;
    margin-bottom: 30px; }
    .bgclips .sec_clips .nombclips {
      font-size: 27px; }
    .bgclips .sec_clips .clipclips {
      height: 47vh !important; }

/*clips*/
/*nosotros*/
.bgnos {
  background-image: radial-gradient(circle, #2e3c52, #303953, #343553, #3a3152, #402c4f); }

.tit_nos {
  margin-top: 20px;
  font-size: 50px;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Rubik', sans-serif; }

.sec_nos {
  border: solid 1px cadetblue;
  margin-bottom: 5%; }

.par_nos {
  font-size: 23px;
  word-spacing: 3px;
  text-transform: uppercase; }

.par_nos1 {
  font-size: 23px;
  word-spacing: 3px; }

.imgnos {
  height: 44vw;
  width: 100%;
  margin-bottom: 3%; }

/*nosotros*/
/*contacto*/
.celestis {
  background-image: radial-gradient(circle, #2c384c, #2c344f, #2f3050, #352a50, #3c234d);
  background-repeat: no-repeat; }
  .celestis .formu {
    background-color: #9e9e98;
    height: 100%;
    border: solid 2px gray; }
    .celestis .formu .contacto {
      text-align: center;
      font-size: 50px;
      font-family: 'Rubik', sans-serif; }
    .celestis .formu .btn {
      margin-top: 1%;
      margin-left: 10px;
      font-size: 18px;
      font-family: 'Signika', sans-serif;
      margin-bottom: 3px;
      border: solid black; }

/*contacto*/
.linea {
  line-height: 20px;
  letter-spacing: 4px;
  word-spacing: 140px;
  width: 99,99%; }

.foot, footer .p-footer {
  font-size: 17px; }

.pagfooter {
  margin-left: 25px;
  margin-right: 15px;
  font-style: oblique;
  font-size: 20px;
  color: red;
  font-family: 'Rubik', sans-serif; }

.flex {
  display: flex;
  flex-direction: column; }

body {
  background-color: #e4e3e3; }

main {
  font-family: 'Rubik', sans-serif; }

/*footer*/
footer {
  position: relative;
  top: 100%;
  border: solid 1px black;
  font-family: 'Signika', sans-serif;
  background-color: #3a3a57; }
  footer .logo {
    width: 8vh;
    height: 8vh; }

/*footer*/
@media screen and (max-width: 457px) {
  .gridindex {
    display: grid;
    grid-template-rows: 24vh 139vh 54vh; }
    .gridindex .gridmain {
      display: grid;
      width: 95vw;
      grid-template-areas: "titulo" "streamers" "clips" "nosotros";
      grid-template-rows: 16vh 48vh 57vh 12vh !important; }
      .gridindex .gridmain .imgstrimers {
        margin-left: 4% !important;
        width: 12vh !important;
        height: 12vh !important; }
        .gridindex .gridmain .imgstrimers:hover {
          width: 15vh !important;
          height: 15vh !important; }
      .gridindex .gridmain .grid-clips {
        display: grid;
        grid-template-rows: 12vh auto 26vh auto; }
  .logo {
    width: 5vh !important;
    height: 5vh !important; }
  .pagfooter {
    font-size: 11px; }
  .p-footer {
    font-size: 13px !important; }
  /*index*/
  /*streamers*/
  .texto {
    font-size: 11px !important;
    margin-left: 3% !important; }
  /*streamers*/
  .tit {
    font-size: 48px !important; }
  h2 {
    font-size: 39px !important; }
  p, .celestis .formu label {
    font-size: 13px !important; } }

@media screen and (max-width: 768px) and (min-width: 458px) {
  /*index*/
  .gridindex {
    grid-template-rows: 27vh 145vh 48vh; }
    .gridindex .gridmain {
      display: grid;
      grid-template-areas: "titulo" "streamers" "clips" "nosotros";
      grid-template-rows: 16vh 45vh 65vh 16vh !important; }
      .gridindex .gridmain .imgstrimers {
        width: 16vh !important;
        height: 16vh !important; }
        .gridindex .gridmain .imgstrimers:hover {
          width: 17vh !important;
          height: 17vh !important; }
  .p-footer {
    font-size: 13px !important; }
  /*index*/
  /*streamers*/
  .texto {
    font-size: 15px !important; }
  /*streamers*/
  .logo {
    width: 6vh !important;
    height: 6vh !important; }
  h1 {
    font-size: 54px !important; }
  h2 {
    font-size: 45px !important; }
  p, .celestis .formu label {
    font-size: 17px !important; }
  .imagen {
    margin-right: 10vh;
    margin-left: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  /*Nosotros*/
  /*Fin estilos nosotros*/ }
