.div_tit {
  background-image: url(https://picsum.photos/1700/124);
  background-size: auto;
  background-repeat: no-repeat;
  padding-left: 0% !important; }
  .div_tit .logoatico {
    width: 16vh;
    height: 16vh; }

.bg_nav {
  background-color: #4d4848; }

* {
  margin: 0px;
  padding: 0px; }

/*index*/
.gridindex {
  display: grid;
  grid-template-rows: 27vh 175vh 47vh;
  background-image: radial-gradient(circle, #4c4f53, #474c55, #444a57, #414659, #40435a); }
  .gridindex .gridmain {
    display: grid;
    grid-template-areas: "titulo" "streamers" "clips" "nosotros";
    grid-template-rows: 14vh 52vh 86vh 16vh !important; }
    .gridindex .gridmain .bienveindex {
      grid-area: titulo;
      margin-top: 20px;
      font-size: 50px;
      margin-bottom: 30px;
      text-align: center;
      font-family: 'Rubik', sans-serif; }
    .gridindex .gridmain .streamers_index {
      grid-area: streamers;
      display: flex;
      flex-direction: column;
      border: solid 2px #181515;
      margin-bottom: 3%; }
      .gridindex .gridmain .streamers_index .titindex {
        margin-left: 5px;
        margin-top: 20px;
        margin-bottom: 10px;
        font-family: 'Rubik', sans-serif; }
      .gridindex .gridmain .streamers_index .imgstrimers {
        width: 18vh;
        height: 18vh;
        border: solid black;
        transition: width 2s , height 2s; }
        .gridindex .gridmain .streamers_index .imgstrimers:hover {
          width: 23vh;
          height: 23vh; }
      .gridindex .gridmain .streamers_index .parrafostreamers {
        margin-top: 13px; }
    .gridindex .gridmain .clips {
      grid-area: clips;
      border: solid 2px #181515;
      margin-top: 1%;
      padding-bottom: 1%;
      margin-bottom: 2%; }
      .gridindex .gridmain .clips .clipindex {
        transition: all 3s; }
      .gridindex .gridmain .clips .parrafoindex {
        margin-top: 2%; }
    .gridindex .gridmain .nos {
      grid-area: nosotros;
      border: solid 2px #181515; }
      .gridindex .gridmain .nos .nosindex {
        margin-top: 3%; }
    .gridindex .gridmain .bg_bot {
      background-color: #39697e; }

/*index*/
/*streamers*/
.gridmainstreamers {
  display: grid;
  grid-template-rows: 15vh 27vh 27vh 27vh;
  background-image: linear-gradient(to right top, #cd7eb2, #c96691, #c04f6e, #b13a4a, #9d2a25); }
  .gridmainstreamers .tit_streamers {
    margin-top: 20px;
    text-align: center;
    font-size: 45px; }
  .gridmainstreamers .secs_streamers {
    display: flex;
    border: solid 2px #8b3b3b;
    background-color: #556068; }
    .gridmainstreamers .secs_streamers .p_streamers {
      padding-left: 10px;
      font-size: 30px; }
      .gridmainstreamers .secs_streamers .p_streamers .loguitos_strim {
        width: 11vh;
        height: 11vh;
        transition: width 2s , height 2s; }
        .gridmainstreamers .secs_streamers .p_streamers .loguitos_strim:hover {
          width: 14vh;
          height: 15vh; }
    .gridmainstreamers .secs_streamers .texto {
      font-size: 19px;
      width: 70vw;
      margin-top: 5px;
      text-align: center; }

/*streamers*/
ul {
  width: 100%; }

p {
  font-size: 18px;
  margin-left: 5px;
  font-family: 'Rubik', sans-serif; }

h1 {
  height: 114px;
  width: 100%;
  margin-bottom: 0% !important;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-style: oblique;
  font-family: 'Rubik', sans-serif;
  color: red; }

/*clips*/
.bgclips {
  background-image: radial-gradient(circle, #44456d, #6d4e7a, #95577f, #b9637b, #d47571); }

.tit_clips {
  margin-top: 20px;
  font-size: 50px;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Rubik', sans-serif; }

.nombclips {
  font-size: 30px; }

.sec_clips {
  border: solid 1px rebeccapurple;
  margin-bottom: 30px; }

.clipclips {
  width: 25%;
  position: relative;
  left: 20%;
  margin-left: 5%;
  margin-bottom: 20px; }

/*clips*/
/*nosotros*/
.bgnos {
  background-image: radial-gradient(circle, #5fa38b, #258893, #26698d, #464772, #4f2645); }

.tit_nos {
  margin-top: 20px;
  font-size: 50px;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Rubik', sans-serif; }

.sec_nos {
  border: solid 1px cadetblue;
  margin-bottom: 5%; }

.par_nos {
  font-size: 23px;
  word-spacing: 3px;
  text-transform: uppercase; }

.par_nos1 {
  font-size: 23px;
  word-spacing: 3px; }

.imgnos {
  height: 100%;
  position: relative;
  width: 100%;
  margin-bottom: 3%; }

/*nosotros*/
/*contacto*/
.imagen1 {
  position: relative;
  bottom: 610px; }

.imagencont {
  position: absolute;
  bottom: 650px; }

.celestis {
  width: 100%;
  background-image: url(https://picsum.photos/1500/720);
  background-repeat: no-repeat; }

.contacto {
  margin-top: 40px;
  text-align: center;
  font-size: 40px;
  font-family: 'Rubik', sans-serif;
  margin-bottom: 30px;
  position: relative;
  right: 7px;
  bottom: 10px; }

.pregs {
  margin-left: 10px;
  font-size: 18px;
  font-family: 'Signika', sans-serif;
  margin-bottom: 3px; }

.celular {
  margin-left: 10px;
  font-size: 18px;
  font-family: 'Signika', sans-serif;
  margin-bottom: 3px;
  position: relative;
  left: 400px;
  bottom: 114px; }

.mail {
  margin-left: 10px;
  font-size: 18px;
  font-family: 'Signika', sans-serif;
  margin-bottom: 3px;
  position: relative;
  left: 800px;
  bottom: 47px; }

.msj {
  margin-left: 10px;
  font-size: 18px;
  font-family: 'Signika', sans-serif;
  margin-bottom: 3px;
  position: relative;
  bottom: 110px; }

.cartelmsj {
  width: 1100px;
  height: 200px;
  margin-left: 10px;
  align-content: flex-start;
  position: relative;
  bottom: 110px; }

.formu {
  position: relative;
  top: 30px;
  background-color: #d6d6d4;
  height: 460px;
  border: solid 2px gray;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
  padding-bottom: 0px; }

.btn {
  margin-left: 10px;
  font-size: 18px;
  font-family: 'Signika', sans-serif;
  margin-bottom: 3px; }

/*contacto*/
.linea {
  line-height: 20px;
  letter-spacing: 4px;
  word-spacing: 140px;
  width: 99,99%; }

.foot, footer .p-footer {
  font-size: 17px; }

.pagfooter {
  margin-left: 25px;
  margin-right: 15px;
  font-style: oblique;
  font-size: 20px;
  color: red;
  font-family: 'Rubik', sans-serif; }

.flex {
  display: flex;
  flex-direction: column; }

body {
  background-color: #e4e3e3; }

main {
  font-family: 'Rubik', sans-serif; }

/*footer*/
footer {
  width: 99,99%;
  border: solid 1px black;
  font-family: 'Signika', sans-serif;
  background-color: #43434e; }
  footer .logo {
    width: 6vh;
    height: 6vh; }

/*footer*/
@media screen and (max-width: 457px) {
  .gridindex {
    display: grid;
    grid-template-rows: 24vh 135vh 46vh; }
    .gridindex .gridmain {
      display: grid;
      width: 95vw;
      grid-template-areas: "titulo" "streamers" "clips" "nosotros";
      grid-template-rows: 16vh 40vh 61vh 12vh !important; }
      .gridindex .gridmain .imgstrimers {
        width: 15vh !important;
        height: 15vh !important; }
        .gridindex .gridmain .imgstrimers:hover {
          width: 19vh !important;
          height: 19vh !important; }
  .logo {
    width: 5vh;
    height: 5vh; }
  .pagfooter {
    font-size: 11px; }
  .p-footer {
    font-size: 13px !important; }
  /*index*/
  .clipindex {
    height: 280px; }
  p {
    font-size: 13px !important; } }

@media screen and (max-width: 768px) and (min-width: 458px) {
  /*index*/
  .gridindex {
    grid-template-rows: 35vh 156vh 46vh; }
    .gridindex .gridmain {
      display: grid;
      grid-template-areas: "titulo" "streamers" "clips" "nosotros";
      grid-template-rows: 16vh 45vh 73vh 16vh !important; }
      .gridindex .gridmain .imgstrimers {
        width: 16vh !important;
        height: 16vh !important; }
        .gridindex .gridmain .imgstrimers:hover {
          width: 17vh !important;
          height: 17vh !important; }
  .p-footer {
    font-size: 13px !important; }
  .clipindex {
    height: 280px; }
  /*index*/
  /*streamers*/
  /*streamers*/
  p {
    font-size: 17px !important; }
  .img {
    margin-right: 10vh;
    margin-left: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between; } }
