footer{
    position: relative;
    top: 100%;
    border: solid 1px black;
    font-family: 'Signika', sans-serif;
    background-color: #3a3a57;
    .p-footer{
        font-size: 17px;
        .pagfooter{
            margin-left: 25px;
            margin-right: 15px;
            font-style: oblique;
            font-size: 20px;
            color:red;
            font-family: 'Rubik', sans-serif
        }
    }
    .logo{
        width: 8vh;
        height: 8vh;
    }   
}