    .div_tit{
        @include bg_banner;
        .logoatico{
            width: 17vh;
            height: 17vh;
        }
    }
.bg_nav{
    background-color: #3a3a57;
    ul{
        width: 100%;
    }
}
h1 {
    height: 114px;
    width: 100%;
    margin-bottom: 0% !important;
    text-transform:uppercase;
    text-align: center;
    @include txt_flex_center;
    font-size: 60px !important;
    font-style: oblique;
    font-family: 'Rubik', sans-serif;
    color:rgb(160, 174, 186)
}