$colorfondo:(
    gradgris: radial-gradient(circle, #a7aaa2, #909a94, #7a8988, #6a777d, #5f656f),
    gradrojo: linear-gradient(to right top, #cd7eb2, #c96691, #c04f6e, #b13a4a, #9d2a25),
    gris: rgb(85, 96, 104)
)