$colorfondo:(
    gradgris: radial-gradient(circle, #4c4f53, #474c55, #4c4c60, #3a3a52, #3a3a57),
    gradstreamers: radial-gradient(circle, #2c384c, #2c344f, #2f3050, #352a50, #3c234d),
    gradclips: radial-gradient(circle, #2c384c, #2c354e, #2f3050, #352b4f, #3c254d),
    gradnosotros: radial-gradient(circle, #2e3c52, #303953, #343553, #3a3152, #402c4f),
    gris: #4c4f53
)