$colorfondo:(
    gradgris: radial-gradient(circle, #4c4f53, #474c55, #444a57, #414659, #40435a),
    gradrojo: linear-gradient(to right top, #cd7eb2, #c96691, #c04f6e, #b13a4a, #9d2a25),
    gris: rgb(85, 96, 104)
)