@media screen and (max-width: 457px) {
    .gridindex{
        display: grid;
        grid-template-rows: 24vh 135vh 47vh;
        .gridmain{
            display: grid;
            width: 95vw;
            grid-template-areas: 
            "titulo"
            "streamers"
            "clips"
            "nosotros";
            grid-template-rows: 16vh 40vh 61vh 12vh !important;
            .imgstrimers{
                margin-left: 4% !important;
                width: 12vh !important;
                height: 12vh !important;
                &:hover{
                    width: 15vh !important;
                    height: 15vh !important;
                }
            }
        }
    }
    .logo{
        width: 5vh !important;
        height: 5vh !important;
    }
    .pagfooter{
        font-size: 11px;
    }
    .p-footer{
        font-size: $tam-fuente13 !important;
    }
    /*index*/
    /*streamers*/
    .texto{
        font-size: 11px !important;
        margin-left: 3% !important;
    }
    /*streamers*/
    .tit{
        font-size: 48px !important;
    }
    h2{
        font-size: 39px !important;
    }
    .clipindex{
        height: 280px;
    }
    p{
        font-size: $tam-fuente13 !important;
    }
}
@media screen and (max-width:768px) and (min-width:458px){
    /*index*/
    .gridindex{
        grid-template-rows: 27vh 145vh 38vh;
        .gridmain{
            display: grid;
            grid-template-areas: 
            "titulo"
            "streamers"
            "clips"
            "nosotros";
            grid-template-rows: 16vh 45vh 60vh 16vh !important;
            .imgstrimers{
                width: 16vh !important;
                height: 16vh !important;
                &:hover{
                    width: 17vh !important;
                    height: 17vh !important;
                }
            }
        }
    }
    .p-footer{
        font-size: $tam-fuente13 !important;
    }
    .clipindex{
        height: 280px;
    }
    /*index*/
    /*streamers*/
    .texto{
        font-size: 15px !important;
    }
    /*streamers*/
    .logo{
        width: 6vh !important;
        height: 6vh !important;
    }   
    h1{
        font-size: 54px !important
    }
    h2{
        font-size: 45px !important;
    }
    p{
        font-size: 17px !important;
    }
    .img{
        margin-right: 10vh;
        margin-left: 5vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}